[2016-03-22 15:55] richarddewit opened #1 "Uncaught Error: ENOENT: no such file or directory, open '/home/richard/dev/django/biebhelmond/bie..."
Thanks for creating this package! I really really needed a Mercurial package for Atom :)

## Steps to reproduce

1. Have tabs open
2. Try to close all tabs
3. On last tab close, error is thrown and tab is still opened

## Info

**Atom Version**: 1.6.0
**System**: Linux Mint
**Thrown From**: [atom-hg](https://github.com/victor-torres/atom-hg) package, v0.0.7

## Stack Trace

Uncaught Error: ENOENT:

[2016-03-22 23:44] victor-torres commented on #1
Thanks, @richarddewit

I also wanted such package so I decided to write one. It has some other bugs and I'm trying to fix them as soon as possible. The one you pasted here seems to be an easy fix. If you find another one, please, open another issue.

Despite this, I'm using it every day in my work, the basics (per file diff, branch name etc) works fines.

It's nice to know someone else is enjoying

[2016-03-22 23:58] #1 closed

[2016-03-22 23:59] victor-torres commented on #1
@richarddewit can you try version 0.0.8? If it's broken yet, please reopen the issue.

[2016-03-23 07:33] richarddewit commented on #1
:+1: Fixed, thanks!

[2016-03-28 14:22] FutoRicky opened #2 "After commit, line and dir diff are not updating"
After committing, line and directory diffs stay the same. To be able to update I have to close the project in atom and load it up again.

[2016-03-28 20:59] victor-torres commented on #2
Thanks for reporting, @FutoRicky. I'll take a look at this this week.

[2016-03-29 13:24] BlaM opened #3 "Blocking window"
I'm using Atom 1.6.0 on Windows 10 with files located on a network share and each time I task switch to the editor window the whole program freezes for 2 seconds on an average sized project. Not sure if there is anything that can be changed here (asynchronous processes?), but it's too slow to be actually usable.

[2016-03-29 19:18] victor-torres commented on #3
Hello, Dominik.

If you're using a network shared folder, there's not much I can do. The best
will be to add async support, as you've just said.

Are you comfortable forking the project and trying to make async versions of
plugin's methods?

[2016-03-29 19:45] victor-torres commented on #3
@BlaM sorry about asking, but can't you just use a local mercurial repository?

[2016-03-29 19:54] StefanYohansson commented on #3
network shared folder is slow. Shared folder sync requires a lot of ACK requests.

http://serverfault.com/questions/316610/what-can-make-windows-fileshares-slow-without-affecting-ping-latency-remote-des

[2016-03-29 20:42] BlaM commented on #3
I might try to help with JavaScript - not with CoffeeScript. Sorry.

Using a local repository is not really an option right now.

[2016-03-29 22:07] victor-torres commented on #3
They're very similar. JavaScript and CoffeeScript. If you wanna try :P

And sorry again, but I'm just curious about why you need a remote hg repo.
Doesn't Bitbucket or something like that solve your problem?

[2016-03-30 09:42] BlaM commented on #3
CoffeeScript has that "unreadable code" vibe going on. Sorry, too much to do, too little time to invest :hourglass:

Not sure how Bitbucket would make anything go faster?

I'm just a small 1-man-show web developer. My work environment is:
- NAS to store the files (Linux based)
- Windows Workstation (imports NAS via SMB)
- Linux development server (imports NAS via NFS)

I'v been thinking about goin

[2016-04-03 18:33] fzzr- opened #4 "Mercurial hg-utils Error: no such file in rev"
Firstly __thanks for this package__!

- - -

I have a couple of not-added untracked files.

* `SomeProject` is main Project Directory;
* `SomeProject/DIR/` is new & untracked folder;

Error log:
[code]

__Problem:__

TreeView's UI get beak behaviour - I can't expand directory `DIR` in the tree.

![screen shot 2016-04-03 at 21 31 38](https://cloud.githubusercontent.com/assets/888526/14234117/ecfd8d

[2016-04-04 17:33] victor-torres commented on #4
Thanks for your report. I'll take a look as soon as possible.

If you feel comfortable about writing and submitting a pull request, you're welcome.

[2016-04-04 18:59] victor-torres commented on #2
@FutoRicky could you try version 0.0.9 and tell me if its fixed, please?

[2016-04-04 18:59] victor-torres commented on #4
@fzzr- could you try version 0.0.9 and tell me if its fixed, please?

[2016-04-04 19:13] victor-torres commented on #3
@BlaM this is what I think when we talk about distributed source control:

![Traditional versus Distributed source control](http://img.thedailywtf.com/images/201109/scm/dcm2.png)

In this case, Bitbucket would be your server, your machine and your NAS would be two of the clients.

If you edit your files in Windows and execute them in your Linux box, you should mirror them from Windows to Linux not

[2016-04-04 19:58] FutoRicky commented on #2
@victor-torres Seems like it's working now. I'll re-open if something comes up. Thanks!

[2016-04-04 19:58] #2 closed

[2016-04-05 00:01] victor-torres commented on #2
@FutoRicky You're welcome :)

[2016-04-05 06:14] boozook commented on #4
Updated. Thanks, it works!

[2016-04-05 06:14] #4 closed

[2016-04-05 12:51] victor-torres commented on #4
@fzzr- You're welcome :smile:

[2016-04-06 19:27] dampcake opened #5 "Error on Startup"
I am getting the following error when Atom starts.

[code]

[2016-04-06 19:45] victor-torres commented on #5
Hello, @dampcake.

Can you try version 0.0.10 and see if this TypeError is fixed?

If it's fixed (and probably is) OK, but you may have a problem with your Mercurial binary path. I presume you're running OS X, is hg on **/usr/local/bin/hg** path? If not, is it in your PATH environment variable?

[2016-04-06 19:50] dampcake commented on #5
Yes I am running OS X and hg is in `/usr/local/bin/hg`.

I now get `Mercurial hg-utils Error: Erro trying to execute Mercurial binary with params '--version,--quiet'(…)`.

_Note: Typo in Error_

When running hg --version --quiet from the command line i get the output:
`Mercurial Distributed SCM (version 3.7.2)`

[2016-04-06 19:53] dampcake commented on #5
Restart seems to have fixed it.

[2016-04-06 21:15] victor-torres commented on #5
Sorry, started to write in Brazilian Portuguese 😅

May I close the issue?

[2016-04-06 23:20] #5 closed

[2016-04-12 19:44] victor-torres commented on #3
We do plan in making atom-hg API asynchronous which would make the plugin itself "faster" and non-blocking, but I'm closing this issue since it's not so critical in a distributed environment.

If you or someone else want to add another detail or use case, please, comment here.

[2016-04-12 19:44] #3 closed

[2016-04-15 09:34] mrstebo opened #6 "Cannot track changes on multiple projects"
I often use Add Project Folder so I can work on multiple folders. Unfortunately atom-hg only tracks the first hg repository.

I am about to start a pull request for the fix which should be ready shortly :smile:

[2016-04-15 12:47] mrstebo opened #9 "Support for Atom 1.7"
[Atom 1.7](http://blog.atom.io/2016/03/17/atom-1-6-and-1-7-beta.html) has introduced async repositories. An error occurrs on [this line](https://github.com/atom/status-bar/blob/master/lib/git-view.coffee#L70) on the status-bar package because we are missing an async respository.

It mentions that they will be depreciating the GitRepository so I am attempting to write an async version of the HgRepo

[2016-04-15 12:57] victor-torres commented on #6
Thanks for this Pull Request, @mrstebo :)

Nice to see people getting involved.

[2016-04-15 12:59] victor-torres commented on #9
I had those tabs opened when you created this issue. It was the first thing I saw when I first opened Atom today. Are you planning in write another pull request for this?

[2016-04-15 13:01] victor-torres commented on #9
This would help @BlaM with his issue #3

[2016-04-15 13:03] #6 closed

[2016-04-15 14:05] victor-torres commented on #9
I'm working on it.

[2016-04-15 15:02] victor-torres commented on #9
The plugin is working again, but I'm having some troubles with tree-view. Hope in an hour it's solved.

[2016-04-15 15:04] mrstebo commented on #9
Yeah sorry, I have created a `HgRepositoryAsync` class, but doesn't seem to be working yet...but no errors popping up :fearful:

[2016-04-15 15:06] mrstebo commented on #3
Almost finished implementing that async API (my first day doing coffeescript :wink:)

[2016-04-15 15:58] victor-torres commented on #9
Lets keep running together.

[2016-04-15 16:30] mrstebo commented on #9
Agreed! Won't have chance to work on it tonight. But I'll have another go at it tomorrow at some point

[2016-04-15 17:30] victor-torres commented on #9
@mrstebo can you checkout the async branch and test it on your machine before we release version 2.0.0 please?

[2016-04-15 19:28] mrstebo commented on #9
Sure. I'll give it a test in the morning and let you know how things go. The big test will be if it works on my work machine. Some nice big repos on there :grin:

[2016-04-15 19:35] mrstebo commented on #9
Looks nice! Pretty much how I coded it 😄.  Unfortunately I left my code in the office 😩.

[2016-04-15 19:40] victor-torres commented on #9
Nice @mrstebo. I'll just release version 2.0.0 and if you find any bug or have an enhancement tomorrow it could be released in the next 2.0.1 version or sth. like that. Thanks for your support once again.

[2016-04-15 19:40] #9 closed

[2016-04-15 19:43] victor-torres commented on #3
@BlaM could you check if things got better with 2.0.0 release?

[2016-04-16 06:53] mrstebo opened #11 "Can't execute Mercurial binary"
This is the same issue I got when I tried building the async repo yesterday.

![atom-hg-issue](https://cloud.githubusercontent.com/assets/3327152/14579636/45abc6a0-03a8-11e6-9cf5-df602b8c0961.png)

[2016-04-16 13:50] victor-torres commented on #11
There's a related issue #5. Sorry about asking this, but do you have Mercurial binaries in your PATH environment variable?

[2016-04-16 15:20] mrstebo commented on #11
Ah! Needed to reboot after installing mercurial! doh! :persevere:

[2016-04-16 15:20] #11 closed

[2016-04-18 07:22] mrstebo opened #13 "isPathIgnored throwing exception"
Keep getting this when I modify one project and then try to expand another project folder. Something seems to be setting `cachedIgnoreStatuses` to null?

![atom-hg-indexof-is-null](https://cloud.githubusercontent.com/assets/3327152/14596456/80e46f28-053e-11e6-9cba-5fd2d175d31e.png)

[2016-04-18 07:31] mrstebo commented on #13
Seems like it is setting the root of all opened projects to the last project that was opened.

[2016-04-18 08:37] BlaM commented on #3
Will be able to try in my "home office environment" tomorrow, but it seems to be working nicely in a very similar environment at one of my customers.

[2016-04-18 12:20] victor-torres commented on #3
Glad to know @BlaM 😃

[2016-04-18 12:31] #13 closed

[2016-04-19 18:22] victor-torres opened #15 "Make HgUtils async"
spawnSync blocks NodeJS and we can't have another process/thread running it such as a web worker... We have to refactor HgUtils class to use spawn or exec, the asynchronous version of this command. Basically we need to encapsulate some methods into promises and consume them with .then() in HgRepositoryAsync class.

[2016-04-19 18:23] victor-torres commented on #15
@mrstebo I further investigated based on your suggestions and I can confirm the blame is in the spawnSync guy.

[2016-04-19 19:29] mrstebo commented on #15
I noticed it when I was doing a `console.log` when checking what `hgCommand`. Maybe we should have a separate `HgUtilsAsync` class that can just return promises?

[2016-04-19 20:59] victor-torres commented on #15
Yup. Sounds good. Exactly what I would do.

[2016-04-21 04:10] figliohulio opened #16 "No file diff in tree-view, incorrect line diff in text editor"
1. All strokes are marked changed when file haven't changes and anyway.
2. Tree-view display without diff, when files have chenges.

![2016-04-21 09 11 33](https://cloud.githubusercontent.com/assets/1121997/14697903/6c1f751a-07aa-11e6-8967-57b2e44e4cda.png)

- Atom
  - 1.7.1
  - 1.7.2
- Atom Hg
  - 2.0.3
  - 2.0.4
- node v5.10.1
- npm 3.8.0
- Ubuntu Trusty

[2016-04-21 16:00] dampcake opened #17 "Uncaught TypeError: Cannot read property 'indexOf' of null"
**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [atom-hg](https://github.com/victor-torres/atom-hg) package, v2.0.3

### Stack Trace

Uncaught TypeError: Cannot read property 'indexOf' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-21 17:36] victor-torres commented on #17
This error is probably caused by `@cachedIgnoreStatuses = @getRepo().getRecursiveIgnoreStatuses()` in `refreshStatus`. There's a try/catch in the `getRecursiveIgnoreStatuses` method and null was being returned when an error was found. Now we're returning a blank list, which may remove the indexOf error but you probably still have a problem with the Mercurial command execution (was issue #5 about t

[2016-04-21 17:39] victor-torres commented on #17
BTW, version 2.0.4 has been released with that possible fix (fa5ace7)

Can you try it and give us some feedback? :)

[2016-04-21 17:43] victor-torres commented on #16
Can you attach some debug logs and messages shown on Atom's developer console, please?

Sorry about asking, but do you have Mercurial installed and correctly configured in your PATH environment variable?

[2016-04-21 17:46] dampcake commented on #17
I'll see if I can  reproduce it.

On Thu, Apr 21, 2016, 11:39 AM Victor Torres notifications@github.com
wrote:

[2016-04-22 04:10] bigslycat commented on #16
Yes, Mercurial is configured correctly. Problem is actual after last update Atom Hg.

[code]

[2016-04-29 12:07] BlaM commented on #3
I have to update my "works nicely". It works nicely with smaller repositories. With bigger projects it still freezes the editor, so I sadly had to disable the plugin again.

[2016-04-29 18:08] victor-torres commented on #17
@dampcake any feedback?

[2016-04-29 18:09] victor-torres commented on #16
I'll ask a friend for help with reproducing this issue since I'm an OS X user and he's a Ubuntu user.

[2016-04-29 19:03] dampcake commented on #17
Can't reproduce.

[2016-04-29 19:03] #17 closed

[2016-04-29 19:26] victor-torres commented on #17
Thank you for the feedback.

[2016-04-29 20:38] leonascimento commented on #16
@victor-torres @figliohulio
I did some tests and anything works well
- unbutu 14.04 lts
- Atom 1.4.3
- Atom Hg 2.0.4
- Node v5.10.1
- npm 3.8.3

[2016-05-06 14:46] bigslycat opened #18 "Working with symlink fail"
Atom-hg does not work correctly when Mercurial repository opened in Atom as a symbolic link. This was reflected in #16 issue, but at that time I did not understand what the reason was.

[2016-05-06 14:47] bigslycat commented on #16
This error does not depend on the environment. The reason is reported in #18 issue.

[2016-05-06 14:47] #16 closed

[2016-05-11 11:58] sompylasar opened #19 "Ignored status not visible in the tree-view"
The `hg status {rootPath}` command that is used to check the status returns only a subset of statuses by default, and it omits the `I` (ignore) status from its output.

https://github.com/victor-torres/atom-hg/blob/ba35b6a39b3ad0f5d574d58be7de7fd69fdd4e0d/lib/hg-utils.coffee#L296

The status [is handled by the code](https://github.com/victor-torres/atom-hg/blob/ba35b6a39b3ad0f5d574d58be7de7fd69fdd

[2016-05-12 13:27] victor-torres commented on #19
Ignored files will be ignored by the plugin.

[2016-05-12 13:29] victor-torres commented on #18
Thanks for the report. Now we have something to work with :)

[2016-05-12 13:29] victor-torres commented on #15
@mrstebo are you up to this one? May I assign it to you?

[2016-05-12 14:57] sompylasar commented on #19
@victor-torres by which plugin?

[2016-05-12 15:55] mrstebo commented on #15
I guess I could have a crack at it 😅

[2016-05-13 00:59] victor-torres commented on #19
`atom-hg` itself. I don't see any point in showing ignored files in the editor's tree.

If you really really want it the only thing I could think about is checking if `Hide VCS ignored files` flag defined in Atom's preferences and stop ignoring files with the  "I" status if it's unchecked. What do you think?

Are you comfortable writing a pull request for this?

[2016-05-13 07:33] sompylasar commented on #19
Looks like you don't understand what this issue is about. Currently it doesn't work as expected, the ignored files are shown and not marked as ignored, so they are included into the search across all files.

[2016-06-15 00:12] visageless opened #20 "How do I use atom-hg ? A possible addition to the wiki please?"
I have installed atom-hg using the package manager and went into my repository and did a atom . on the command line which opened my repository in atom. I made some changes to the code and saved it but that did not show anything. What am I missing here? I am new to development hence please forgive the noob questions.

[2016-06-15 00:57] victor-torres commented on #20
I think this is all that's necessary to use atom-hg plugin. Have you tried restarting Atom after installing the plugin? What OS do you use? You can execute `hg branch` command inside your repository? Mercurial binaries should be defined in your OS' PATH.

[2016-06-15 01:30] visageless commented on #20
Restarting does not help. I use a Win 10 OS. # hg branch returns # default in my repository.

[2016-06-15 11:51] victor-torres commented on #20
Look at #11. It worked after a reboot, probably because Windows added Mercurial binaries to the PATH and made them available to other applications. Can you try it?

[2016-06-15 11:52] victor-torres commented on #20
You can also activate developer console to be able to look into errors like this and share here if necessary.

[2016-06-15 22:02] visageless commented on #20
Thanks. Its all working now. I see mercury binaries in my OS Path now after a system restart and I think it would be helpful to know what to expect after the package has been installed. It might be just me but I feel an image of what a file diff, line diff and branch name is might help beginner users in the future.

[2016-06-16 14:41] victor-torres commented on #20
Thanks for the suggestion. I'll do it soon.

[2016-06-16 14:41] #20 closed

[2016-06-28 14:40] sirianni opened #21 "Editor unresponsive for 3-5 second lag after atom window regains focus"
It seems like an hg command is spawned each time the atom window regains focus.  On medium/large repos this can cause a 3-5 second lag before you can actually type in the atom window.  It seems like this may be a general issue with the atom VCS framework as it occurs with git repos as well as hg.

See:
* atom/atom#10107
* atom/atom#8851

[2016-07-18 19:25] ian-bertolacci opened #22 "New/Modified files not marked as such in tree-view untill opened"
Upon opening atom in a mercurial repo directory, any new or modified files are not marked as new or modified (with the colors) until the file is opened.

[2016-07-27 10:44] stefan-kern opened #23 "atom-hg makes statusbar throw an error"
when enabling atom-hg on the 1.9.0 beta it produces the following error on save (and other actions).

**Atom Version**: 1.9.0-beta1
**System**: Ubuntu 16.04.1
**Thrown From**: [status-bar](https://github.com/atom/status-bar) package, v1.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'ahead' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-08-02 01:02] rochford77 commented on #23
have this issue as well. removed atom from the machine and the .atom folder, reinstalled. atom worked great until i installed this package. with this package enabled, (or seemingly any mercurial related package) i get the following logs: (it should be noted, i also tried to reinstall Hg and deleted and re-synced my repo...)

[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.9.0

[2016-08-03 05:15] rochford77 commented on #23
see here, related:

https://github.com/atom/status-bar/issues/161

[2016-08-03 18:56] victor-torres commented on #23
@rochford77 @stefan-kern https://github.com/atom/status-bar/issues/161#issuecomment-236837592

Looks like we’ll have to refactor the whole plugin approach, which was already discussed here: https://github.com/victor-torres/atom-hg/issues/15

Unfortunately I have no time for doing so. I’m currently working a lot and using PyCharm in a daily basis rather than Atom. So this means we need help here. I

[2016-08-03 22:39] rochford77 commented on #23
@victor-torres, is there any way you could update the plugin/description with a warning for it not working if on atom > 1.8? This renders the editor unusable and could cause some real headaches trying to track down what plugin is causing it. IMHO, it's rather irresponsible to knowingly leave something out there that can bring the editor to its knees without a disclaimer of sorts. I know your busy

[2016-08-04 13:26] victor-torres commented on #23
@rochford77 I did it yesterday right after commenting here as you can see: https://github.com/victor-torres/atom-hg/commit/9acd953ba886c22da67a8065950a6226cd401689

And yeah, that’s not our fault status-bar and Atom’s API keeps changing. I really wish I was able to solve all these problems.

[2016-08-04 13:40] victor-torres commented on #23
(clicked close by mistake)

[2016-08-18 23:39] v3ss0n commented on #23
so atom-hg is basically abandoned now?
How hard would it take for someone unfamilar with this to maintain?

[2016-08-18 23:42] rochford77 commented on #23
Look in the pull requests. It looks like there is a fix submitted, waiting for @victor-torres to pull it and update. He said he uses jetbrains now though so it's not a priority for him.

[2016-08-19 00:38] victor-torres commented on #23
Merged pull request. I'll test it and then release a new version in a while.

[2016-08-19 00:41] v3ss0n commented on #23
i will test this in a min

[2016-08-19 00:44] victor-torres commented on #23
[code]

[2016-08-19 00:44] #23 closed

[2016-08-19 00:46] victor-torres commented on #23
Thank you guys for the support, specially for @mevatron (pull request) and @AndrewNelis (atom-svn fix).

[2016-08-19 00:50] v3ss0n commented on #23
@victor-torres  Tested! works fine , no error and display diffs!
Thanks a lot guys!!

[2016-08-19 02:23] mevatron commented on #23
@victor-torres Happy to help! I'll be updating from my locally hacked version shortly :)

[2016-08-19 17:56] v3ss0n commented on #23
thanks @mevatron  and AndrewNelis!

[2016-09-09 13:37] mrstebo commented on #15
Yeah. They seemed to have removed the async stuff in Atom now...
There is an issue [here](https://github.com/atom/atom/issues/12159).
And a discussion [here](https://discuss.atom.io/t/deprecation-of-async-git-in-atom-1-10/31270)

[2016-09-26 20:40] victor-torres commented on #19
@sompylasar seems like @TomKemperNL have fixed your issue. I'm releasing a new version of the plugin right now so that you can validate the solution. If it doesn't work, please, reopen this issue. Thanks.

[2016-09-26 20:40] #19 closed

[2016-09-26 21:43] sompylasar commented on #19
Wow these two fixes https://github.com/victor-torres/atom-hg/pull/25/commits/c8f8d73e79fa68f509efd3ca6035864bfc55eebd https://github.com/victor-torres/atom-hg/pull/25/commits/902abf2f93aec24de4c3c534531c94a0ee5f813b are really important ones!

I'll give it a try as soon as I get to the mercurial project with Atom.

@TomKemperNL Many thanks!

[2016-09-27 11:12] goemaeret opened #26 "atom-hg causes Atom to freeze"
I've been using this package for a while now, but after i've updated to the latest release (**atom-hg 2.0.8**) this morning it causes Atom to freeze and not respond for a couple of seconds when switching between applications. I temporarily disabled the package cause this is kind of annoying. Is it possible to look into this please?

**Atom Version**: 1.10.2
**System**: macOS Sierra (10.12)

Thx in

[2016-09-27 18:07] victor-torres commented on #26
It’s been happening for a while since past versions of both Atom and atom-hg plugin. This relates with #21 and may be fixed by #15.

[2016-09-27 18:07] #26 closed

[2016-09-27 18:07] victor-torres commented on #21
This may be fixed by #15. It was also reported in #26.

[2016-09-28 09:14] TomKemperNL commented on #21
I've made this worse for some repositories in Pull Request #25. (especially deeply nested node_modules)
I'll make this my next priority.

[2016-10-05 20:55] v3ss0n opened #27 "Froze atom on repo with many files (thanks to node_module) while trying to run ht status -A"
https://github.com/victor-torres/atom-hg/blob/28f84975590425094def66377e92e0163649d528/lib/hg-utils.coffee#L299

causes every files to check for versioning which cause atom froze .

What should i do

[2016-10-06 19:38] TomKemperNL commented on #27
Yep, I'm working on that. Do you have any particular open source node-repo that demonstrates this especially well?

I'm testing on a few electron repos but the freezes are only 250-400ms for me, which is annoying but kinda hard to measure improvements with.

[2016-10-06 19:58] v3ss0n commented on #27
for me , when re-opening atom , it toally froze  ,. i waited for about 1 hr. it is emberjs project with about 10 ember addon , whcih have recursive dependencies inside nodemodules thanks to brocolli.

[2016-10-06 20:09] TomKemperNL commented on #27
That's horrible!

I'm currently evaluating different options on improving performance. I'm unfamiliar with Ember unfortunately, do you know of an OSS repo I could clone to reproduce this?

I've just merged a full asynching of hg stat -A to my own fork (which I would generally consider 'unstable').

You're welcome to see if it helps though:
apm uninstall atom-hg
apm install tomkempernl/atom-hg

Unf

[2016-10-07 09:02] MikeRatcliffe commented on #21
I had a 10 second pause when refocusing the editor and it went down to 15ms using this fork:
`apm install tomkempernl/atom-hg`

[2016-10-07 09:55] TomKemperNL commented on #21
Good to hear it's helping someone!
Unfortunately the only thing I changed is removing the blocking IO. Whatever took 10 seconds (probably refreshing all the ignored files) still takes 10 seconds, it just won't freeze atom anymore.

I'm guessing if you refocus, and quickly open a folder with ignored files, they'll be there for a few seconds...

Fair warning: my fork should be considered 'beta'. I p

[2016-10-08 18:28] victor-torres commented on #27
So the dependencies are not versionsed (as they shouldn't be) but it's taking too long to load because of them... Maybe as a workaround we could manually (with code) ignore these directories.

[2016-10-08 18:45] #21 closed

[2016-10-08 18:50] #22 closed

[2016-10-08 19:19] v3ss0n commented on #27
@victor-torres  yes they aren't versioned.

[2016-10-08 19:25] v3ss0n commented on #27
i think respecting .hgignore will be good enough , acutally hg status -A should does that , i gonna open a but on mercurial repo.

[2016-10-08 20:46] victor-torres opened #31 "Untracked files are appearing as new/added files"
![screen shot 2016-10-08 at 17 41 20](https://cloud.githubusercontent.com/assets/3674112/19215813/b880d1ec-8d7e-11e6-811f-1307ae37afa8.png)

![screen shot 2016-10-08 at 17 42 16](https://cloud.githubusercontent.com/assets/3674112/19215816/bddd6e2a-8d7e-11e6-9a40-e0e8e2aa8d56.png)

I’m not sure these files should be shown in the green color.

[2016-10-08 21:08] victor-torres commented on #31
@TomKemperNL I’ve noticed that untracked files also appear in green using git repositories. What do you think: should we leave it green?

JetBrains shows untracked files in red. Showing these files in green is a mistake IMHO because we tend to think these files are tracked/added and staged for the next commit.

![screen shot 2016-10-08 at 18 08 57](https://cloud.githubusercontent.com/assets/367411

[2016-10-08 21:58] victor-torres commented on #31
The pull request #32 now returns whether a path or status is staged or not. This won’t change anything since Atom shows not staged files in green as noticed with git repositories. But we’ll be ready when they start to show it in red or some other text formatting.

[2016-10-08 22:01] victor-torres commented on #31
There’s already an issue for that in Atom’s tree-view plugin repository

https://github.com/atom/tree-view/issues/430

In Mercurial it’s easier to identify untracked files because every removed/modified/added file is automatically staged.

[2016-10-09 09:05] TomKemperNL opened #33 "Ignoring directories"
Currently directories with only ignored files are showed as empty directories.
I'd prefer to hide them (just like the git-repo does).

Unfortunately, unlike Git, Mercurial doesn't track directory information, so where Git Status --ignored nicely shows 'the best stuff to hide', Hg Status -i will gladly show each and every file of your node_modules folder as ignored.

The simplest option would be to

[2016-10-09 12:49] victor-torres commented on #27
@v3ss0n have you tried the newest version? May I close this issue?

[2016-10-12 15:01] TomKemperNL opened #34 "Directories with spaces in them crash hg stat"
Atom-hg runs hg stat for a specific directory.

If the root directory of the repository has spaces somewhere in the path, these are not correctly quoted on windows.

[2016-10-12 18:23] TomKemperNL commented on #34
... it must be something a bit more subtle. I noticed this at work, but can't repro at home. I'll check again tomorrow.

[2016-10-12 20:38] #34 closed

[2016-10-13 00:11] #18 closed

[2016-10-13 00:12] victor-torres commented on #18
@bigslycat can you update to version 2.0.11 and try to open your project from a symlink again?

[2016-10-13 01:28] victor-torres commented on #33
Mercurial should be responsible for that. But you're right. There seems to be no support for an `hg status -i` with ignored directories.

I also thought about parsing the `.hgignore` file but there may be extra files for submodules. And Mercurial supports multiple syntaxes including regexp and glob.

[2016-10-13 07:44] TomKemperNL opened #37 "Really long paths fail RefreshStatus on windows"
A well known problem for node on windows is that modules deeeeply nest and windows has a maximum path length.

Here's an example of the error I got:
"node_modules\node-sass\node_modules\sass-graph\node_modules\yargs\node_modules\read-pkg-up\node_modules\read-pkg\node_modules\normalize-package-data\node_modules\validate-npm-package-license\node_modules\spdx-expression-parse: The system cannot find

[2016-10-14 08:01] Goodwine commented on #27
In my case, the problem comes from `hg cat`, should I create a separate issue for that?

[2016-10-14 17:36] v3ss0n commented on #27
i haven't update yet , i will try.
Actually i had disable it just so i can still open atom :smile:

[2016-10-17 12:51] TomKemperNL commented on #37
Good news & Bad news:

The Good:
Newer versions of npm install a flatter directory structure.

The Bad:
The failure occurs on the hg stat command itself. Not much to do there.

The Ugly:
The latest LTS of npm still suffers from this issue

[2016-11-15 09:01] TomKemperNL commented on #33
Just a quick update. I'm still hacking away at this on my fork (at about half an hour a week, so it's going to take a while...).

It currently works (as a nice side-effect of using the status-bitmasks at the directory level)... however it's way too slow to be practical.

(https://github.com/TomKemperNL/atom-hg/tree/ignored_dirs)

[2016-11-30 00:28] Goodwine opened #39 "Allow "diffing" against specific revision or bookmark"
In my particular use-case, it's more helpful if I can specify a bookmark (sometimes a revision) to diff against.
Maybe we could have this as a setting?

**Why bookmarks?**
I update a bookmark automatically every time I pull, so I can end up with `last_pulled -> commit-1 -> commit-2`, where diffing against last_pulled is more important to me than diffing `commit-2` against `commit-1`.

**Why revisi

[2016-12-03 11:16] TomKemperNL commented on #33
I'm kinda drawing a blank on improving performance while shelling out to hg

The other alternative, parsing .hgignore ourselves is also looking dicey. I've been looking at the Mercurial sourcecode and there's nearly 800 lines of python code concerned with it. (having zero python experience means this is a rather slow process).

So, working on it, no clue yet how to solve it.

[2017-01-25 11:48] victor-torres opened #41 "Remove svn warnings"
Some warnings were inherited from an SVN repository. They do not make sense to Mercurial.

[2017-02-06 15:00] SC7639 opened #42 "Not Working With atom-project-manager"
When opening folder with project-manager atom-hg doesn't work. It's missing from the status bar and none of the files or folders are coloured in tree-view. I use project-manager as it's a dependency for php-integrator which I use a lot at work. I'm not sure how to get the packages to work in harmony.

OS: Windows
Atom Version: 1.13.1

[2017-02-09 01:18] marksagal opened #43 "Conflict with GIT"
after installing this atom-hg the default atom's git is not working anymore
![not_working](https://cloud.githubusercontent.com/assets/5668664/22764952/ad440048-eea8-11e6-8acb-a2a54517772c.JPG)

[2017-02-09 06:35] TomKemperNL commented on #43
Hmm, I'm switching between Git and Hg all the time and have not run into this. Could you elaborate a bit?

Where is your hg-repository root in this picture? (if any)

[2017-02-09 20:09] gabefinch commented on #33
I really love the plugin.  Related to this bug it seems for me that atom-hg doesn't pay attention to the atom setting 'Exclude VCS Ignored Paths'. In other words .hgingnore files are hidden for me regardless of whether 'Exclude VCS Ignored Paths' is checked or not.  My case is wanting to get all the benefits of the plugin, but I don't want ignored files hidden. I'm on Windows BTW.

[2017-02-10 12:02] victor-torres commented on #33
Thanks, @gabefinch! I really appreciate our plugin is being helpful :)

If I’m right, I think we can create another ticket for this. In your case, you **want** the ignored files to be shown.

Yes. We can create another ticket for that (#44).

In the case of this ticket, the problem is that when we are hiding the ignored files, if a directory only contains ignored files (or it is also ignored in .h

[2017-02-10 12:05] victor-torres opened #44 "Exclude VCS Ignored Paths"
Created based on https://github.com/victor-torres/atom-hg/issues/33#issuecomment-278757873

Seems that _atom-hg_ doesn't pay attention to the Atom’s setting 'Exclude VCS Ignored Paths'. In other words, .hgingnore files are hidden regardless of whether 'Exclude VCS Ignored Paths' is checked or not.

[2017-02-11 07:43] TomKemperNL commented on #44
I had always thought this to be an Atom issue.

There are 2 of these settings in Atom. 1 is in the main setting screen (settings/Core), but another one is in the settings of the treeview package (settings/Packages/search Treeview).

The treeview one works for me (since I don't actually hide ignored files in most projects either)

@gabefinch We'll have to look into these two conflicting settings, b

[2017-02-25 23:20] rubin110 opened #45 "Crash: Fatal error in V8: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
I keep on encoutering a crash. Ran atom -f and got this...

https://paste.debian.net/916831/

Seems to happen anywhere between 2 minutes to a few hours.

[2017-03-03 20:40] victor-torres commented on #45
Hi, @rubin110

Are you using Atom beta? Maybe it’s not really a problem... at least **yet**.

[2017-03-03 20:48] victor-torres commented on #43
You have two directories at the same time, the first one is a Mercurial repository and the second one is git, right?

I’m not sure who’s wrong here: Atom or us.

[2017-03-04 14:57] marksagal commented on #43
Victor Torres was right.

I have 2 project folder, mercurial and git, then that's it. it prioritize hg than git. sadly I can't get them work together.

[2017-03-09 18:17] DataDink opened #46 "Subrepo Support"
Would it be possible to add subrepo support? Even just they are identified by the .hgsub file. A search for detached repos would be even more awesome still.

[2017-03-11 10:49] goemaeret opened #47 "Failed to activate the atom-hg package"
**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [atom-hg](https://github.com/victor-torres/atom-hg) package 2.0.11

### Stack Trace

Failed to activate the atom-hg package

[code]

[2017-03-14 19:24] victor-torres commented on #43
The big question: should/can we do something about it? I’m not sure.

[2017-03-20 22:15] TomKemperNL commented on #47
Looks like going from Atom 1.14 to Atom 1.15 breaks the entire plugin... Hoping to get a look in later this week(end?)

[2017-03-20 22:32] TomKemperNL commented on #47
Couldn't resist having a short look. This looks like a false alarm. I'm having the exact same problem, but that's because I suspect @goemaeret is running my fork, and not the actual package.

Line 6 in atom-hg.coffee is empty in all released versions, but line 6 in atom-hg.coffee of my fork contains a quick & dirty proxy I was using to track the performance of all calls to the atom-hg plugin (whic

[2017-03-21 07:47] goemaeret commented on #47
@TomKemperNL Actually after reinstalling the package the problem is solved. It was indeed the forked version that caused this behaviour. So all is good :)

Thx for looking into it!

[2017-03-21 13:42] victor-torres commented on #47
Thanks for the feedback, guys!

[2017-03-21 13:42] #47 closed

[2017-03-23 02:43] Goodwine opened #48 "Feature Request - Show list of tags in the shortHead"
Example:
branch[:bookmark][:tag1,tag2,....,tag3]

[2017-03-24 19:09] #48 closed

[2017-03-25 19:09] #39 closed

[2017-05-26 08:51] SC7639 commented on #44
I am having the same issue. Even though I've enabled  'Exclude VCS Ignored Paths'. The paths ignored by mercurial in the .hgignore file are still being searched by the fuzzy file searcher.

[2017-07-07 04:08] GreenGremlin commented on #42
I'm having the same issue. In the console I see the following error, which suggests `atom-hg` is using `project_1`'s root path for all projects.

[code]

[2017-09-09 19:01] kveretennicov opened #53 "status-bar throws error at startup after installing atom-hg"
Atom 1.8.0
atom-hg 2.0.14
status-bar 1.2.3

[code]

[2017-09-09 19:05] kveretennicov commented on #53
If I understand correctly, atom-svn suffered from the same breaking change (andischerer/atom-svn#20). They seem to have it fixed with fairly simple changes (andischerer/atom-svn#21). Should work for atom-hg as well?

[2017-09-09 19:55] kveretennicov commented on #53
Issue gone after upgrading to Atom 1.19.7, status-bar 1.8.11.

[2017-09-09 19:55] #53 closed

[2017-10-20 12:15] victor-torres commented on #27
Any update about this issue, @v3ss0n?

[2018-02-22 15:41] AHolliday commented on #20
Hi there, I just installed this package and like visageless, I am puzzled as to how to access its features.  I don't see any new options in any menus, and none of the info on this package indicates any keybindings that I should use.  The features are listed as:
- line diff in text editor
  - How do I get this to show up?
- file diff in tree view
  - Is this represented by the text colour of the fi

[2018-08-10 11:34] Stitch-Danger opened #54 "Couldn't be Spawned"
I will fwd any info I come across - Stitch

[2018-08-14 20:19] #54 closed

[2018-08-16 22:35] victor-torres commented on #54
What happened? Were you able to reproduce the error? Is it fixed?

[2019-01-09 13:58] albertcito commented on #47
I have the same issue. I installed and reinstall but it does not works.

**Atom**: 1.34.0 x64
**Electron**: 2.0.16
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [atom-hg](https://github.com/victor-torres/atom-hg) package 2.0.14

### Stack Trace

Failed to activate the atom-hg package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-01-10 12:26] victor-torres opened #55 "Failed to activate the atom-hg package"
I have the same issue. I installed and reinstall but it does not works.

**Atom**: 1.34.0 x64
**Electron**: 2.0.16
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [atom-hg](https://github.com/victor-torres/atom-hg) package 2.0.14

### Stack Trace

Failed to activate the atom-hg package

[code]

### Commands

[code]

### Non-Core Packages

[code]

_Originally posted by @albertcito in https://gith

[2019-01-10 12:28] victor-torres commented on #47
Thank you for contributing with this stack trace report, @albertcito.

I have created another issue (#55) since it looks like the exception behind this startup error is slightly different.

[2019-01-10 13:17] victor-torres commented on #55
This is an exception caused by the [atom/metrics](https://github.com/atom/metrics) package introduced by the version [1.6.2](https://github.com/atom/metrics/releases/tag/v1.6.2).

Apparently it does not interfer with the atom-hg plugin functionality, but I'm gonna fix this providing the required API.

[2019-01-10 13:23] #55 closed

[2019-01-10 13:28] victor-torres commented on #55
@albertcito it should be fixed in version 2.0.15. Could you update and confirm it, please?

[2019-01-10 15:50] albertcito commented on #55
Now it's working well.

But I don't know if is my computer only but it shows the following error (In any case it does not affect the work with hg):

[code]

[2019-09-02 07:48] ivanivkovic opened #56 "Not showing up in Ubuntu 19.04 - possible to expand the documentation?"
Hi,

Using Ubuntu 19.04, tried opening Atom inside the repository, and my HG is accessible from terminal, but nothing is showing up anywhere.

I suppose it should appear in the status bar.

1) Is there any additional configuration required for this to work? config.cson has atom-hg listed but no settings inside.
2) Is it possible to at least show how it should look like once it's installed in the r